.input-group {
  margin: 20px auto;
  max-width: 300px;
}

.input-group-addon {
  font-weight: bold
}

.save-btn {
  display: flex;
  justify-content: center
}

#message {
  color: green;
  text-align: center
}